/* *{
    outline: 1px solid red;
} */

.sidebar{
    height: 100vh;
    background-color: #009dff;
    /* background-color: blue; */
}
.navbar-cont{
    background-color: #80c7f3;
}
.navbar{
    /* margin-left: 250px !important; */
    width: 83.5% !important;
}

#logo-image{
    width: 35px;
    height: 35px;
}
.navbar-cont{
    height: 4.2rem;
}
#searchFilter{
    width: 300px;
    height: 30px;
}
.lookups{
    height: 90.3vh;
}

.counter-cont{
    height: 50% !important;
}
.counters{
    width: 24% !important;
    /* height: 30% !important; */
}
.workspace{
    height: 90vh ;
}
.workArea{
    height: 90vh;
}

.classArea{
    background-color: #80c7f3;
    height: 80vh;
}
.classContent{
    height: 73vh;
}

.topContent{
    height: 40px;
    /* border: 1px solid #009dff; */
}
#createClsBtn{
    height: 35px;
}
.card-cont{
    height: 58vh !important;

}

.assignmentCard{
    height: 90% !important;
}


.filter-panel{
    position:absolute;
    top:100px;
    right:30px;
    width:300px;
    background:white;
    padding:20px;
    border-radius:10px;
    box-shadow:0 0 20px rgba(0,0,0,.15);
    /* display:none; */
    z-index:999;
}
.sidebarBtns.active{
    background:#0d6efd;
    color:white;
}

.sidebarBtns.active i{
    color:white;
}
.sidebarBtns{
    width:100%;
    border:none;
    background:transparent;
    color:#dbeafe !;
    text-align:left;
    padding:12px 15px;
    border-radius:12px;
    transition:.3s;
    font-weight:500;
}

.sidebarBtns:hover{
    background:rgba(255,255,255,.15) !important;
    color:white !important;
}

.sidebarBtns.active{
    background:white !important;
    color:#0d6efd !important;
    box-shadow:0 5px 15px rgba(0,0,0,.15);
}

.sidebarBtns.active i{
    color:#0d6efd !important;
}
.createAssignmentBtn{
    border:2px solid #0d6efd;
    background:white;
    color:#0d6efd;
    padding:10px 18px;
    border-radius:10px;
    font-weight:600;
    transition:.3s;
}

.createAssignmentBtn:hover{
    background:#0d6efd;
    color:white;
}
